<!DOCTYPE html>
<html>
<head>
  <%- include('../template/head/admin') %>
</head>
<body>
  <nav class='navbar'>
    <%- include('../template/navbar/faq') %>
  </nav>
  <div class='lottery'>
    <section class='lottery__box'>
      <h2><%= faq.question %></h2>
      <% if(userSessionId) { %>
        <div class='prize__modify'>
          <a class='prize__modify-btn' href=<%=`/update/${faq.id}`%>>UPDATE</a>
          <a class='prize__modify-btn' href=<%=`/delete/${faq.id}`%>>DELETE</a>
        </div>
      <% } %>
      <div class='lottery__info'>
        <div class='faq__info__detail'>
          <div class='lottery__info__content'>
            <div>常見問題：<br><%= faq.question %></div>
            <div>回答：<br><%= faq.answer %></div>
          </div>
        </div>
      </div>
  </div>
  <footer>
    <%- include('../template/footer') %>
  </footer>
</body>
</html>