<!DOCTYPE html>
<html>
<head>
  <%- include('../template/head') %>
</head>
<body>
  <div class='navbar'>
    <%- include('../template/navbar') %>
  </div>
  <div class='welcome-block'>
    <%- include('../template/welcomeBlock') %>
  </div>
  <div class='site-body'>
    <div class='board'>
      <section class='article'>
        <div class='article_detail'>
          <h1><%= article.title %></h1>
          <% if(userId && Number(userId) === article.UserId) { %> 
            <a class='update_article' href=<%= `/update/${article.id}` %>>編輯</a>
          <% } %>
          <div class='article_info'>
            <img src="/img/watch-later-24-px@2x.png" width='14px' height='14px' />
            <div><%=  (String(article.createdAt)).substring(4,21)   %></div>
            <img src="/img/folder-24-px@2x.png" width='14px' height='14px' />
            <div><%= article.Tag.name %></div>
          </div>
          <div class='article_content_all'>
            <%= article.content %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class='footer'>
    <%- include('../template/footer') %>
  </div>
</body>
</html>