<!DOCTYPE html>
<html>
<head>
  <%- include('../template/head') %>
</head>
<body>
  <nav class='navbar'>
    <%- include('../template/navbar') %>
  </nav>
  <div class='lottery'>
    <section class='lottery__box'>
      <h2>編輯獎項</h2>
      <div class='login__info'>
        <form method='POST' action=<%=`/update/${prize.id}`%>>
          <div class="input__wrapper">
            <div class="input__label">獎項名稱：</div>
            <input class="input__field" type="text" name="name" value=<%= `${prize.name}` %> />
          </div>
          <div class="input__wrapper">
            <div class="input__label">中獎機率：</div>
            <input class="input__field" type="text" name="percentage" value=<%= `${prize.percentage}` %> />
            <h5>請輸入介於 0 和 1 之間的小數</h5>
          </div>
          <div class="input__wrapper">
            <div class="input__label">圖片連結：</div>
            <input class="input__field" type="text" name="imgUrl" value=<%= `${prize.imgUrl}` %> />
          </div>
          <div class="input__wrapper">
            <div class="input__label">獎項描述：</div>
            <input class="input__field" type="text" name="discription" value=<%= `${prize.discription}` %> />
          </div>
          <input type='submit' value="確認編輯" class='login_btn' />
        </form>
        </div>
        <% if(errorMessage) { %>
          <div class='errorMessage'><%= errorMessage %></div>
        <% } %>
      </div>
  </div>
  <footer>
    <%- include('../template/footer') %>
  </footer>
  <script src='index.js'></script>
</body>
</html>